<div class="row" style="margin-bottom: 10px">
  <div class="row no-gutters">
    <div class="col-auto">
      <img [src]="restaurant.pic" class="img-thumbnail" alt="">
    </div>
    <div class="col">
      <div class="card-block px-2">
        <h4 class="card-title">{{restaurant.name}}</h4>
        <p class="card-text">{{restaurant.categories}}</p>
        <p class="card-text">{{restaurant.location}}</p>
        <p class="card-text">{{restaurant.rating}}</p>

      </div>
    </div>
  </div>
</div>


<div class="row" style="display: flex;">
  <div class="card text-center col-md-12" style="padding-left: 0px; padding-right: 0px">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onClickOffers()">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onClickOpinions()">Opiniones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onClickInformation()">Información</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <app-restaurant-offers *ngIf="showOffers" [restaurant]="restaurant"></app-restaurant-offers>
      <app-restaurant-opinions *ngIf="showOpinions" [restaurant]="restaurant"></app-restaurant-opinions>
      <app-restaurant-information *ngIf="showInformation" [restaurant]="restaurant"></app-restaurant-information>
    </div>
  </div>


</div>



