<div class="row">

  <div *ngIf="loading" class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    Loading
  </div>

  <div *ngIf="!loading" class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

    <h1>Perfil</h1>
    <hr>
    <form (ngSubmit)="onUpdate(f)" #f="ngForm">

      <div class="form-group">
        <label>Password</label>
        <input type="password" id="password" name="password" #password="ngModel" ngModel class="form-control" minlength="8" required>
        <span class="help-block" *ngIf="!password.valid && password.touched">Password must have more than 8 characters!</span>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" id="confPassword" name="confPassword" #confPassword="ngModel" ngModel class="form-control" minlength="8" required compare="password">
        <div class="text-danger" *ngIf="confPassword.invalid && ( confPassword.dirty || confPassword.touched)">
          <div *ngIf="confPassword.errors['required']">Password confirm is required</div>
          <div *ngIf="!confPassword.errors['required'] && confPassword.errors['compare']">Password confirm do not match</div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!f.valid || !f.dirty">Update password</button>

    </form>
  </div>
</div>
