<a [routerLink]='["../" + restaurant.uid]' style="cursor: pointer; margin-bottom: 5px" routerLinkActive="active" class="list-group-item">
  <div class="row">
    <div class="col-auto">
      <img [src]="restaurant.pic" [alt]="restaurant.name" class="img-repsonsive" style="max-height: 100px;">
    </div>
    <div class="col-auto">
      <h4 class="list-group-item-heading">{{restaurant.name}}</h4>
      <p class="list-group-item-text">{{restaurant.categories}}</p>
      <p class="list-group-item-text">{{restaurant.location}}</p>
    </div>
  </div>
</a>
