<div class="row">

  <div *ngIf="loading" class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    Loading
  </div>

  <div *ngIf="!loading" class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

    <h1>Perfil</h1>
    <hr>
    <form (ngSubmit)="onUpdate(f)" #f="ngForm">

      <div class="form-group">

        <label>Profile Picture</label>
        <br>
        <img class="img-thumbnail" [src]="userLogged.pic" height="200" width="200"> <br/>
        <input type='file' (change)="onSelectFile($event)">
      </div>

      <div class="form-group">
        <label>Username</label>
        <input type="username" id="username" name="username" [(ngModel)]="userLogged.username" #username="ngModel" class="form-control" required minlength="8">
        <span class="help-block" *ngIf="!username.valid && username.touched">Username must have more than 8 characters!</span>
      </div>

      <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="userLogged.name" type="name" id="name" name="name" #name="ngModel" class="form-control" required>
        <span class="help-block" *ngIf="!name.valid && name.touched">Please enter a name!</span>
      </div>

      <div class="form-group">
        <label>Second name</label>
        <input [(ngModel)]="userLogged.secondName" type="secondName" id="secondName" name="secondName" #secondName="ngModel" class="form-control" required>
        <span class="help-block" *ngIf="!secondName.valid && secondName.touched">Please enter a second name!</span>
      </div>

      <div class="form-group">
        <label>Phone</label>
        <input [(ngModel)]="userLogged.phone" type="phone" id="phone" name="phone" #phone="ngModel" class="form-control" minlength="9" pattern="^[0-9]*$" required>
        <span class="help-block" *ngIf="!phone.valid && phone.touched">Please enter a valid phone!</span>
      </div>

      <div class="form-group">
        <label>Birthday</label>
        <input [(ngModel)]="userLogged.birthday" type="text" id="birthday" name="birthday" #birthday="ngModel" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" class="form-control" required>
        <span class="help-block" *ngIf="!birthday.valid && birthday.touched">Please enter a valid date!</span>
      </div>

      <div class="form-group">
        <label>Country</label>
        <input [(ngModel)]="userLogged.country" type="country" id="country" name="country" #country="ngModel" class="form-control" required>
        <span class="help-block" *ngIf="!country.valid && country.touched">Please enter a country!</span>
      </div>

      <div class="form-group">
        <label>Location</label>
        <input [(ngModel)]="userLogged.location" type="location" id="location" name="location" #location="ngModel" class="form-control" required>
        <span class="help-block" *ngIf="!location.valid && location.touched">Please enter a location!</span>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!f.valid || !f.dirty">Update profile</button>

    </form>
  </div>
</div>


