<div class="row">
  <div class="col-xs-12">

    <div *ngIf="loading">
      <h1>Loading data</h1>
    </div>


    <div *ngIf="!loading">
      <h1>Detalles Restaurante</h1>

      <img [src]="restaurant.pic" alt="">

      <table class="table">
        <thead>
        <tr>
          <th>Campo</th>
          <th>Valor</th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Nombre</td>
          <td>{{ restaurant.name}}</td>

        </tr>
        <tr>
          <td>Email</td>
          <td>{{ restaurant.mail}}</td>

        </tr>
        <tr>
          <td>País</td>
          <td>{{ restaurant.country}}</td>

        </tr>
        <tr>
          <td>Localidad</td>
          <td>{{ restaurant.location}}</td>

        </tr>
        <tr>
          <td>Teléfono</td>
          <td>{{ restaurant.phone}}</td>

        </tr>
        <tr>
          <td>Descripción</td>
          <td>{{ restaurant.description }}</td>

        </tr>

        <tr>
          <td>Valoración</td>
          <td>{{ restaurant.rating }}</td>

        </tr>

        </tbody>
      </table>



    </div>

  </div>
</div>

