<div class="row">
    <div class="col-md-3">
      <div class="row">
        <!--<h3>Tipo de comida</h3>-->

        <ul class="list-group">
          <li class="list-group-item disabled" style="background-color: #e9ecef;">Tipo de comida</li>
          <li class="list-group-item">
            <div class="custom-control custom-radio">
              <input checked="checked" type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                     (change)="onSelectRadioButton('Todas')">
              <label class="custom-control-label" for="customRadio2">Todas</label>
            </div>
          </li>
          <li *ngFor="let category of categoriesList; let index" class="list-group-item">
            <div class="custom-control custom-radio">
              <input type="radio" [id]="index" name="customRadio" class="custom-control-input"
                     (change)="onSelectRadioButton(category)">
              <label class="custom-control-label" [for]="index">{{category}}</label>
            </div>
          </li>

        </ul>


      </div>

      <div style="margin-top: 10px" class="row">
        <ul class="nav nav-pills flex-column">
          <ul class="list-group">
            <li class="list-group-item disabled" style="background-color: #e9ecef;">Filtrar</li>
            <li class="list-group-item">
              <div class="custom-control custom-checkbox">
                <input #favCheck type="checkbox" id="check1" name="check1" (change)="favoriteCheckboxChanged(favCheck)" class="custom-control-input">
                <label class="custom-control-label" for="check1">Favoritos</label>
              </div>
            </li>
            <li class="list-group-item">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" id="check2" name="check2" class="custom-control-input">
                <label class="custom-control-label" for="check2">Todas</label>
              </div>
            </li>
            <li class="list-group-item">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" id="check3" name="check3" class="custom-control-input">
                <label class="custom-control-label" for="check3">Todas</label>
              </div>
            </li>

          </ul>


        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <app-restaurant-list [restaurantList]="restaurantList"></app-restaurant-list>
    </div>
  </div>


